.side {
    width: 60%;
    height: 100vh;
    float: left;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.login_form {
    margin-top: 80px;
    width: 40%;
    float: left;
}

.description {
    color: white;
    margin: 100px auto;
    width: 70%;
    text-align: center;
}

.description h3 {
    line-height: 35px;
    text-align: justify;
}

.login_input {
    margin-top: 30px;
    font-size: 18px;
}

.login_input input {
    width: 70%;
    margin-bottom: 30px;
}

.login_button {
    width: 50%;
    height: 35px;
}

.register_link {
    margin: 10px;
    text-decoration: underline;
    color: #4062BB;
}

.register_link:hover {
    cursor: pointer;
    color: #52489C;
}