.side_nav {
    float: left;
    width: 25%;
    height: 100vh;
    border-right: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

.side_nav input[type=date] {
    margin: 10px;
    width: 200px;
}

.drop_down {
    font-size: 20px;
    width: 200px;
}

.note {
    font-size: 20px;
    width: 90%;
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 5px;
    transition: background-color 0.3s;
    user-select: none;
    background-color: white;
    cursor: pointer;
}

.note:hover {
    background-color: lightcyan;
}

.new_note_button {
    font-size: 20px;
    width: 90%;
    height: 40px;
    margin: 20px; 
    border: 1px solid black;
    border-radius: 3px;
}

.text_field {
    float: left;
    width: 75%;
    height: 100vh;
}

.top_nav {
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid black;
}

.top_nav .noteTitle {
    float: left;
    width: 500px;
    margin: 10px;
    outline: none;
}

.icon {
    float: left;
    margin: 10px;
    cursor: pointer;
}

.logout {
    float: right;
    margin: 10px;
    cursor: pointer;
}

.text_box {
    width: 99%;
    height: 91vh;
    margin-top: 8px;
    max-width: 99%;
    min-width: 99%;
    max-height: 91vh;
    min-height: 91vh;
    font-size:20px;
}